<%- include('./partials/header.ejs') %>

<%- include('./partials/authenticated-menu.ejs') %>

  <div class="container-fluid mtb15 no-fluid">
    <div class="row sm-gutters">
      <div class="col-md-3">
        <div class="market-pairs" style="height:550px;">
          <!-- <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"><i class="icon ion-md-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="inputGroup-sizing-sm">
          </div> -->
          <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="/exchange?asset=BTC" role="tab" aria-selected="true">
                <img src="assets/img/icon/18.png" width="25" height="25">
                <p class="my-1"><b>BTC</b></p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/exchange?asset=ETH" role="tab" aria-selected="true">
                <img src="assets/img/icon/1.png" width="25" height="25">
                <p class="my-1"><b>ETH</b></p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/exchange?asset=BNB" role="tab" aria-selected="true">
                <img src="assets/img/icon/9.png" width="25" height="25">
                <p class="my-1"><b>BNB</b></p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/exchange?asset=SOL" role="tab" aria-selected="true">
                <img src="assets/img/icon/sol.png" width="25" height="25">
                <p class="my-1"><b>SOL</b></p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/exchange?asset=DOT" role="tab" aria-selected="true">
                <img src="assets/img/icon/dot.png" width="25" height="25">
                <p class="my-1"><b>DOT</b></p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/exchange?asset=USDT" role="tab" aria-selected="false"><img src="assets/img/icon/usdt.png" width="25" height="25"></a>
            </li>  -->
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="BTC" role="tabpanel">

              <table class="table">
                <thead>
                  <tr>
                    <th>Pairs</th>
                    <th>Last Price</th>
                    <th>Change</th>
                  </tr>
                  <tr>
                      <div id="note" class="m-1 my-2 p-3">
                         <p class="text-danger"><b>Note:</b><br/>
                          
                            Prices shown on this exchange are 30% off. 
                            Please do not mix these prices with real ones.
                            These prices are only valid till the timer ends. 
                          
                        </p>
                      </div>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> BTC/USDT</td>
                    <td id="btcusdt"></td>
                    <td class="red">-2.58%</td>
                  </tr>
                  <tr>
                    <td> ETH/USDT</td>
                    <td id="ethusdt"></td>
                    <td class="red">-2.58%</td>
                  </tr>
                  <tr>
                    <td> BNB/USDT</td>
                    <td id="bnbusdt"></td>
                    <td class="green">+5.6%</td>
                  </tr>
                  <tr>
                    <td> SOL/USDT</td>
                    <td id="solusdt"></td>
                    <td class="red">-1.55%</td>
                  </tr>
                  <tr>
                    <td> DOT/USDT</td>
                    <td id="dotusdt"></td>
                    <td class="green">+1.8%</td>
                  </tr>
                </tbody>
              </table>
              <!-- s -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="main-chart mb15">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div id="tradingview_e8053"></div>
            <script src="https://s3.tradingview.com/tv.js"></script>
            <script>
              new TradingView.widget(
                {
                  "width": "100%",
                  "height": 550,
                  "symbol": "BINANCE:<%= asset %>USDT",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "Dark",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "withdateranges": true,
                  "hide_side_toolbar": false,
                  "allow_symbol_change": true,
                  "show_popup_button": true,
                  "popup_width": "1000",
                  "popup_height": "650",
                  "container_id": "tradingview_e8053"
                }
              );
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="market-trade" style="height:550px;">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="" role="tab"
                aria-selected="true">Market Order</a>
                <!-- <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#market-trade-buy" role="tab" aria-selected="true">
                      BUY
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#market-trade-sell" role="tab" aria-selected="false">
                      SELL
                    </a>
                  </li>
                </ul> -->
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-trade-limit" role="tabpanel">
              <div class="d-flex justify-content-between">

                <div class="market-trade-buy tab-pane fade show active align-items-center" id="market-trade-buy" role="tabpanel">
                  <div id="buyRes" style="display: all;">

                  </div>                 
                  <form id="buyCoin" method="POST" action="">
                  <div class="input-group">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="text" class="form-control" placeholder="Price" name="amount" id="balance">
                    <div class="input-group-append">
                      <span class="input-group-text">USDT</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Amount" id="coin">
                    <div class="input-group-append">
                      <span class="input-group-text" id="asset"><%= asset %></span>
                    </div>
                  </div>
                  <ul class="market-trade-list">
                    <li onclick="amount('<%= balance %>',25)"><a>25%</a></li>
                    <li onclick="amount('<%= balance %>',50)"><a>50%</a></li>
                    <li onclick="amount('<%= balance %>',75)"><a>75%</a></li>
                    <li onclick="amount('<%= balance %>',100)"><a>100%</a></li>
                  </ul>
                  <p>Available: <span>0 BTC = 0 USD</span></p>
                  <p>Volume: <span>0 BTC = 0 USD</span></p>
                  <p>Margin: <span>0 BTC = 0 USD</span></p>
                  <p>Fee: <span>0 BTC = 0 USD</span></p>
                  <button class="btn buy">Buy</button>
                 </form>
                </div>
                <div class="market-trade-sell tab-pane fade show active align-items-center" id="market-trade-sell" role="tabpanel">
                  <div style="opacity: 35%;">
                    <div class="input-group">
                      <input type="number" class="form-control" placeholder="Price" disabled>
                      <div class="input-group-append">
                        <span class="input-group-text"><%= asset%></span>
                      </div>
                    </div>
                    <div class="input-group">
                      <input type="number" class="form-control" placeholder="Amount" disabled>
                      <div class="input-group-append">
                        <span class="input-group-text">USDT</span>
                      </div>
                    </div>
                    <ul class="market-trade-list" style="pointer-events:none ;">
                      <li><a href="#!">25%</a></li>
                      <li><a href="#!">50%</a></li>
                      <li><a href="#!">75%</a></li>
                      <li><a href="#!">100%</a></li>
                    </ul>
                    <p>Available: <span>0 BTC = 0 USD</span></p>
                    <p>Volume: <span>0 BTC = 0 USD</span></p>
                    <p>Margin: <span>0 BTC = 0 USD</span></p>
                    <p>Fee: <span>0 BTC = 0 USD</span></p>
                    <button class="btn sell" disabled>Sell</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="market-history" style="height:550px;">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#recent-trades" role="tab" aria-selected="true">Recent
                Trades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#market-depth" role="tab" aria-selected="false">Market
                Depth</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="recent-trades" role="tabpanel">
              <table class="table">
                <thead>
                  <tr>
                    <th>Price($)</th>
                    <th>Time</th>
                    <th>Amount&nbsp;<%= asset %></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(i = 0; i < order_no.length; i++) { %>
                    <tr>  
                      <% if(price[i] > price[i-1]) { %>
                        <td class="green"><%= price[i] %></td>
                      <% } else { %>
                        <td class="red"><%= price[i] %></td>
                      <% } %>
                      <td><%= date[i] %></td>
                      <td><%= amount[i]%></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="market-depth" role="tabpanel">
              <div class="depth-chart-container">
                <div class="depth-chart-inner">
                  <div id="darkDepthChart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="order-book mb15">
          <h2 class="heading">Order Book</h2>
          <table class="table">
            <thead class="ob-heading" align="center">
              <tr>
                <th>
                    <img src="assets/img/logo-light.svg" width="100" height="100">
                </th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Price(USDT)</th>
                <th>Amount(<%= asset %>)</th>
              </tr>
            </thead>
            <tbody class="h-100" id="orderBookBid">
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <div class="market-history market-order mt15">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#order-history" role="tab" aria-selected="true">
                Order history
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show" id="order-history">
              
              <table>
                  <tr class="d-flex justify-content-between market-order-item">
                    <!-- <li><b>S. No.</b></li> -->
                    <th><b>Order ID.</b></th>
                    <th><b>Time</b></th>
                    <th><b>Pair</b></th>
                    <th><b>Buy/Sell</b></th>
                    <th><b>Price</b></th>
                    <th><b>Amount</b></th>
                    <!-- <li><b>Executed</b></li> -->
                  </tr>
                      <% if(typeof order_no != undefined &&
                      typeof amount != undefined &&
                      typeof coin != undefined &&
                      typeof date != undefined &&
                      order_no != "" &&
                      amount != "" &&
                      coin != "" &&
                      amount != "") { %>
                        <% for(i = 0; i < order_no.length; i++) { %>
                            <tr class="d-flex justify-content-between market-order-item">    
                              <!-- <li><%= i+1 %></li> -->
                              <td><%= order_no[i] %></td>
                              <td><%= date[i] %></td>
                              <td><%= coin[i]%>/USDT</td>
                              <td class="text-success"><b>BUY</b></td>
                              <td><%= price[i] %></td>
                              <td><%= amount[i]%> <%= asset%></td>
                              <!-- <li>100%</li> -->
                            </tr>
              </table>        
                    <% } %>
              <% } else { %>
                    <span class="no-data">
                      <i class="icon ion-md-document"></i>
                      No data
                    </span>
              <% } %>
          </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-md-3">
        <div class="market-news mt15">
          <h2 class="heading">Market News</h2>
          <ul>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
  
  <%- include('./partials/scripts.ejs') %>
  
  <script src="assets/js/ajax/buyCoin.js"></script>
  <script src="assets/js/ajax/buyCoinAmount.js"></script>
  <script src="assets/js/ajax/buyCoinPerAmount.js"></script>
  <script src="assets/js/ajax/liveCoinPrices.js"></script>
  <script src="assets/js/ajax/orderbook.js"></script>

  <script>
    $('tbody, .market-news ul').mCustomScrollbar({
      theme: 'minimal',
    });
  </script>

</body>

</html>