<%- include('./partials/header.ejs') %>

<%- include('./partials/authenticated-menu.ejs') %>

  <div class="container-fluid mtb15 no-fluid">
    <div class="row sm-gutters">
      <div class="col-md-3">
        <div class="market-pairs" style="height:550px;">
          <!-- <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"><i class="icon ion-md-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="inputGroup-sizing-sm">
          </div> -->
          <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="/exchange?asset=BTC" role="tab" aria-selected="true"><img src="assets/img/icon/18.png" width="25" height="25"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exchange?asset=ETH" role="tab" aria-selected="false"><img src="assets/img/icon/1.png" width="25" height="25"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exchange?asset=BNB" role="tab" aria-selected="false"><img src="assets/img/icon/9.png" width="25" height="25"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exchange?asset=SOL" role="tab" aria-selected="false"><img src="assets/img/icon/sol.png" width="25" height="25"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exchange?asset=DOT" role="tab" aria-selected="false"><img src="assets/img/icon/dot.png" width="25" height="25"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exchange?asset=USDT" role="tab" aria-selected="false"><img src="assets/img/icon/usdt.png" width="25" height="25"></a>
            </li> 
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="BTC" role="tabpanel">

              <table class="table">
                <thead>
                  <tr>
                    <th>Pairs</th>
                    <th>Last Price</th>
                    <th>Change</th>
                  </tr>
                  <tr>
                      <div id="note" class="m-1 my-2 p-3">
                         <p class="text-danger"><b>Note:</b><br/>
                          
                            Prices shown on this exchange are 30% off. 
                            Please do not mix these prices with real ones.
                            These prices are only valid till the timer ends. 
                          
                        </p>
                      </div>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> BTC/<%= asset %></td>
                    <td>0.00020255</td>
                    <td class="red">-2.58%</td>
                  </tr>
                  <tr>
                    <td> ETH/<%= asset %></td>
                    <td>0.00020255</td>
                    <td class="red">-2.58%</td>
                  </tr>
                  <tr>
                    <td> BNB/<%= asset %></td>
                    <td>0.00013192</td>
                    <td class="green">+5.6%</td>
                  </tr>
                  <tr>
                    <td> SOL/<%= asset %></td>
                    <td>0.00002996</td>
                    <td class="red">-1.55%</td>
                  </tr>
                  <tr>
                    <td> DOT/<%= asset %></td>
                    <td>0.00000103</td>
                    <td class="green">+1.8%</td>
                  </tr>
                  <tr>
                    <td> USDT/<%= asset %></td>
                    <td>0.00000103</td>
                    <td class="red">-2.05%</td>
                  </tr>
                </tbody>
              </table>
              <!-- s -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="main-chart mb15">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div id="tradingview_e8053"></div>
            <script src="https://s3.tradingview.com/tv.js"></script>
            <script>
              new TradingView.widget(
                {
                  "width": "100%",
                  "height": 550,
                  "symbol": "BINANCE:<%= asset %>USDT",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "Dark",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "withdateranges": true,
                  "hide_side_toolbar": false,
                  "allow_symbol_change": true,
                  "show_popup_button": true,
                  "popup_width": "1000",
                  "popup_height": "650",
                  "container_id": "tradingview_e8053"
                }
              );
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="market-trade" style="height:550px;">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="" role="tab"
                aria-selected="true">Market Order</a>
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#market-trade-buy" role="tab" aria-selected="true">
                      BUY
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#market-trade-sell" role="tab" aria-selected="false">
                      SELL
                    </a>
                  </li>
                </ul>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-trade-limit" role="tabpanel">
              <div class="d-flex justify-content-between">

                <div class="market-trade-buy tab-pane fade show active align-items-center" id="market-trade-buy" role="tabpanel">
                  <div id="buyRes" style="display: all;">

                  </div>                 
                  <form id="buyCoin" method="POST" action="">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Price" name="amount" id="balance">
                    <div class="input-group-append">
                      <span class="input-group-text">USDT</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Amount" id="coin">
                    <div class="input-group-append">
                      <span class="input-group-text" id="asset"><%= asset %></span>
                    </div>
                  </div>
                  <ul class="market-trade-list">
                    <li onclick="amount('<%= balance %>',25)"><a>25%</a></li>
                    <li onclick="amount('<%= balance %>',50)"><a>50%</a></li>
                    <li onclick="amount('<%= balance %>',75)"><a>75%</a></li>
                    <li onclick="amount('<%= balance %>',100)"><a>100%</a></li>
                  </ul>
                  <p>Available: <span>0 BTC = 0 USD</span></p>
                  <p>Volume: <span>0 BTC = 0 USD</span></p>
                  <p>Margin: <span>0 BTC = 0 USD</span></p>
                  <p>Fee: <span>0 BTC = 0 USD</span></p>
                  <button class="btn buy">Buy</button>
                 </form>
                </div>
                <div class="market-trade-sell tab-pane fade align-items-center" id="market-trade-sell" role="tabpanel">
                  <div style="opacity: 35%;">
                    <div class="input-group">
                      <input type="number" class="form-control" placeholder="Price" disabled>
                      <div class="input-group-append">
                        <span class="input-group-text"><%= asset%></span>
                      </div>
                    </div>
                    <div class="input-group">
                      <input type="number" class="form-control" placeholder="Amount" disabled>
                      <div class="input-group-append">
                        <span class="input-group-text">USDT</span>
                      </div>
                    </div>
                    <ul class="market-trade-list" style="pointer-events:none ;">
                      <li><a href="#!">25%</a></li>
                      <li><a href="#!">50%</a></li>
                      <li><a href="#!">75%</a></li>
                      <li><a href="#!">100%</a></li>
                    </ul>
                    <p>Available: <span>0 BTC = 0 USD</span></p>
                    <p>Volume: <span>0 BTC = 0 USD</span></p>
                    <p>Margin: <span>0 BTC = 0 USD</span></p>
                    <p>Fee: <span>0 BTC = 0 USD</span></p>
                    <button class="btn sell" disabled>Sell</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="market-history" style="height:550px;">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#recent-trades" role="tab" aria-selected="true">Recent
                Trades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#market-depth" role="tab" aria-selected="false">Market
                Depth</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="recent-trades" role="tabpanel">
              <table class="table">
                <thead>
                  <tr>
                    <th>Price($)</th>
                    <th>Time</th>
                    <th>Amount&nbsp;<%= asset %></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(i = 0; i < order_no.length; i++) { %>
                    <tr>  
                      <% if(price[i] > price[i-1]) { %>
                        <td class="green"><%= price[i] %></td>
                      <% } else { %>
                        <td class="red"><%= price[i] %></td>
                      <% } %>
                      <td><%= date[i] %></td>
                      <td><%= amount[i]%></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="market-depth" role="tabpanel">
              <div class="depth-chart-container">
                <div class="depth-chart-inner">
                  <div id="darkDepthChart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="order-book mb15">
          <h2 class="heading">Order Book</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Price(BTC)</th>
                <th>Amount(ETH)</th>
                <th>Total(ETH)</th>
              </tr>
            </thead>
            <tbody>
              <tr class="red-bg-80">
                <td class="red">0.022572</td>
                <td>1.253415</td>
                <td>15.27648</td>
              </tr>
              <tr class="red-bg-60">
                <td class="red">0.020371</td>
                <td>1.205415</td>
                <td>15.25648</td>
              </tr>
              <tr class="red-bg-40">
                <td class="red">0.023572</td>
                <td>1.645415</td>
                <td>15.23648</td>
              </tr>
              <tr class="red-bg-20">
                <td class="red">0.032378</td>
                <td>1.206715</td>
                <td>15.25348</td>
              </tr>
              <tr class="red-bg-10">
                <td class="red">0.022573</td>
                <td>1.262415</td>
                <td>15.19648</td>
              </tr>
              <tr class="red-bg-8">
                <td class="red">0.154377</td>
                <td>1.225415</td>
                <td>15.35648</td>
              </tr>
              <tr class="red-bg-5">
                <td class="red">0.120373</td>
                <td>1.285415</td>
                <td>15.25648</td>
              </tr>
              <tr class="red-bg">
                <td class="red">0.028576</td>
                <td>1.291415</td>
                <td>15.26448</td>
              </tr>
            </tbody>
            <tbody class="ob-heading">
              <tr>
                <td>
                  <span>Last Price</span>
                  0.020367
                </td>
                <td>
                  <span>USD</span>
                  148.65
                </td>
                <td class="red">
                  <span>Change</span>
                  -0.51%
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr class="green-bg">
                <td class="green">0.158373</td>
                <td>1.209515</td>
                <td>15.23248</td>
              </tr>
              <tr class="green-bg-5">
                <td class="green">0.020851</td>
                <td>1.206245</td>
                <td>15.25458</td>
              </tr>
              <tr class="green-bg-8">
                <td class="green">0.025375</td>
                <td>1.205715</td>
                <td>15.65648</td>
              </tr>
              <tr class="green-bg-10">
                <td class="green">0.020252</td>
                <td>1.205495</td>
                <td>15.24548</td>
              </tr>
              <tr class="green-bg-20">
                <td class="green">0.020373</td>
                <td>1.205415</td>
                <td>15.25648</td>
              </tr>
              <tr class="green-bg-40">
                <td class="green">0.020156</td>
                <td>1.207515</td>
                <td>15.28948</td>
              </tr>
              <tr class="green-bg-60">
                <td class="green">0.540375</td>
                <td>1.205915</td>
                <td>15.25748</td>
              </tr>
              <tr class="green-bg-80">
                <td class="green">0.020372</td>
                <td>1.205415</td>
                <td>15.25648</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <div class="market-history market-order mt15">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#order-history" role="tab" aria-selected="true">
                Order history
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade active show" id="order-history">
                
                <ul class="d-flex justify-content-between market-order-item">
                  <!-- <li><b>S. No.</b></li> -->
                  <li><b>Order ID.</b></li>
                  <li><b>Time</b></li>
                  <li><b>Pair</b></li>
                  <li><b>Buy/Sell</b></li>
                  <li><b>Price</b></li>
                  <li><b>Amount</b></li>
                  <!-- <li><b>Executed</b></li> -->
                </ul>
                    <% if(typeof order_no != undefined &&
                    typeof amount != undefined &&
                    typeof coin != undefined &&
                    typeof date != undefined &&
                    order_no != "" &&
                    amount != "" &&
                    coin != "" &&
                    amount != "") { %>
                      <% for(i = 0; i < order_no.length; i++) { %>
                          <ul class="d-flex justify-content-between market-order-item">    
                            <!-- <li><%= i+1 %></li> -->
                            <li><%= order_no[i] %></li>
                            <li><%= date[i] %></li>
                            <li><%= coin[i]%>/USDT</li>
                            <li class="text-success"><b>BUY</b></li>
                            <li><%= price[i] %></li>
                            <li><%= amount[i]%> <%= asset%></li>
                            <!-- <li>100%</li> -->
                          </ul>
                      <% } %>
                <% } else { %>
                      <span class="no-data">
                        <i class="icon ion-md-document"></i>
                        No data
                      </span>
                <% } %>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="col-md-3">
        <div class="market-news mt15">
          <h2 class="heading">Market News</h2>
          <ul>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
  
  <%- include('./partials/scripts.ejs') %>
  
  <script src="assets/js/ajax/buyCoin.js"></script>
  <script src="assets/js/ajax/buyCoinAmount.js"></script>
  <script src="assets/js/ajax/buyCoinPerAmount.js"></script>

  <script>
    $('tbody, .market-news ul').mCustomScrollbar({
      theme: 'minimal',
    });
  </script>

</body>

</html>