<%- include('./partials/header.ejs') %>

<% if(typeof status != undefined) { %>

  <% if(status=="loggedIn") { %>
    
    <%- include('./partials/authenticated-menu.ejs') %>

    <% var link='/exchange'; var data='Start Trading'; %>

  <% } else {%>
   
    <%- include('./partials/unauthenticated-menu.ejs') %>

    <% var link='/signup'; var data='Get Started'; %>

  <% } %>

<% } %>

  <div class="landing-hero">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 text-center">
          <h2>A trusted and secure cryptocurrency exchange.</h2>
          <h3>We are offering <span class="text-success">30%</span> off on every listed coins.</h3>

          <p>Tokonyte is the most secure cryptocurrency exchange with advance charting tools. </p>
         
            <!-- <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Enter Your Email"
              aria-describedby="button-addon2"> -->
            <div style="align-self: center;">
              <a href=<%= link %>><button class="btn btn-primary" type="button" id="button-addon2"><%= data %></button></a>
            </div>
         
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid no-fluid">
    <div class="row sm-gutters">
      <div class="col-md-12 mb15">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async>
              {
                "symbols": [
                  {
                    "description": "",
                    "proName": "BINANCE:SOLUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:BTCUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:GRTUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:BNBUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:AXSUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BITFINEX:BTCUSD"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:DOTUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:ICPUSDT"
                  }
                ],
                  "showSymbolLogo": true,
                    "displayMode": "compact",
                      "colorTheme": "dark",
                        "locale": "en"
              }
            </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
  </div>

  <div class="landing-info-one mtb100">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-6">
          <h2>About Us</h2>
          <p>We are the first generation of Cryptocurrency miners and stakers. 
            We have never bought any coins as we always mined and generated them. We are offering a 30% discount to facilitate traders with professional trading and charting tools.
            We are offering this discount to increase the volume and trust in our exchange as it will cause us no harm because we have never bought any of the listed coins at discount. 
          </p>
          
        </div>
        <div class="col-lg-6">
          <img src="../assets/img/landing/wall-green.svg" class="" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="landing-info-one landing-info-one-bg mtb100 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="mt-5">The most advance and secure cryptocurrency platform.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iusto, nisi illo nulla alias fugiat
            repudiandae unde ab maxime placeat facere, dicta deleniti ipsam animi expedita quam minus perferendis
            veniam?</p>
          <ul>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Technical Analysis</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Market Data</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Cryptocurrency Price</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Deposit & Withdraw</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Buy & Sell</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Coin Listing</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Manage Wallets</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Market depth</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <img src="assets/img/landing/dash-preview-dark.png" class="visible-mobile" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="landing-feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Here are a few reasons why <br> you should choose Tokonyte</h2>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="assets/img/landing/stroge.svg" alt="">
            <h3>Secure storage</h3>
            <p>To keep your funds secure, we store 98% of digital funds in an offline, secure wallet.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="assets/img/landing/backup.svg" alt="">
            <h3>Trade with peace of mind</h3>
            <p>2FA, Browser, Session and Device Management, and more</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="assets/img/landing/managment.svg" alt="">
            <h3>Low & transparent fees</h3>
            <p>All our fees are transparent, upfront and listed when you make a trade.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="landing-feature landing-start">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Get started in a few steps</h2>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="assets/img/landing/user.svg" alt="">
            <span>1</span>
            <h3>Create an account </h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="assets/img/landing/bitcoin.png" alt="">
            <span>
              2
            </span>
            <h3>Deposit your funds</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="assets/img/landing/trade.svg" alt="">
            <span>3</span>
            <h3>Start buying at 30% discount</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-sub">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <div class="landing-sub-content">
            <h2>Become part of a global community of people who have found their path to the crypto world with Tokonyte
            <a href="/signup">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="landing-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="/">
            <img src="assets/img/icon.png" alt="">
          </a>
        </div>
        <div class="col-md-10 d-flex justify-content-end align-items-center">
          <ul>
            <li><a>All Rights Reserved TOKONYTE &#174; 2022-2025</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <%- include('./partials/scripts.ejs') %>
</body>

</html>