<%- include('./partials/header.ejs') %>

<%- include('./partials/kyc-menu.ejs') %>


<br/>
<div class="container" style="width: 40%;">
  <% if (typeof success != "undefined") { %>
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> <%= success %>
    </div>
  <% } %>
  <% if (typeof error != "undefined") { %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> <%= error %>
    </div>
  <% } %>
</div>
<div class="vh-100 d-flex justify-content-center">
  <div class="form-access my-auto">
    <% if (typeof state != "undefined") { %>
      <% if (state == "PENDING") { %>
        <form>
          <span>KYC Status:&nbsp;<%= state %></span>
        </form>
      <% } %>
      <% if (state == "NO") { %>
        <% if(KYCtries >= 3) { %>
          <form>
            <span>Locked for 3 Hours</span>
          </form>
        <% } else {%>
        <div id="kycRes" style="display: all;">

        </div>
        <form id="kycForm" method="post" enctype="multipart/form-data">
          <span>KYC</span>
          <div class="form-group">
            <h2>Status: Not Applied</h2>
            <label for="file">Upload Documents:</label>
            <input 
            type="file" 
            class="form-control" 
            name="docs[]"
            id="docs" 
            accept="image/jpeg, image/jpg, image/png" 
            multiple 
            required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>
      <% } %>
      <% if(state == "YES") { %>
        <script type="text/javascript">
            window.location.assign("/deposit");
        </script>
      <% } %>
    <% } %>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>
  
  <%- include('./partials/scripts.ejs') %>

  <script src="assets/js/ajax/kyc.js"></script>
  
</body>

</html>