<%- include('./partials/header.ejs') %>

<%- include('./partials/authenticated-menu.ejs') %>
  <div class="settings mtb15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="settings-wallet" role="tabpanel" aria-labelledby="settings-wallet-tab">
              <div class="wallet">
                <div class="row">
                  <div class="col-md-12 col-lg-4">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                      <a class="d-flex justify-content-between align-items-center"
                        role="tab" aria-selected="true">
                        <div class="d-flex">
                          <img src="assets/img/icon/usdt.png" alt="btc">
                          <div>
                            <h2>USDT</h2>
                            <p>Tether USD</p>
                          </div>
                        </div>
                        <div>
                          <% if(typeof balance != "undefined") { %>
                            <% if(balance != 0) { %>
                              <h3><%= balance %></h3>
                            <% } else {%>
                              <h3>0.00000</h3>
                            <% } %>
                          <% } %>
                          
                        </div>
                      </a>
                      <a class="nav-link d-flex justify-content-between align-items-center active" data-toggle="pill"
                        href="#coinBTC" role="tab" aria-selected="true">
                        <div class="d-flex">
                          <img src="assets/img/icon/18.png" alt="btc">
                          <div>
                            <h2>BTC</h2>
                            <p>Bitcoin</p>
                          </div>
                        </div>
                        <div>
                          <% if(typeof BTC != "undefined") { %>
                            <% if(BTC != 0) { %>
                              <h3><%= BTC %></h3>
                            <% } else {%>
                              <h3>0.00000</h3>
                            <% } %>
                          <% } %>
                          
                        </div>
                      </a>
                      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                        href="#coinETH" role="tab" aria-selected="true">
                        <div class="d-flex">
                          <img src="assets/img/icon/1.png" alt="btc">
                          <div>
                            <h2>ETH</h2>
                            <p>Ethereum</p>
                          </div>
                        </div>
                        <div>
                          <% if(typeof ETH != "undefined") { %>
                            <% if(ETH != 0) { %>
                              <h3><%= ETH %></h3>
                            <% } else {%>
                              <h3>0.00000</h3>
                            <% } %>
                          <% } %>
                          
                        </div>
                      </a>
                      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                        href="#coinBNB" role="tab" aria-selected="true">
                        <div class="d-flex">
                          <img src="assets/img/icon/9.png" alt="btc">
                          <div>
                            <h2>BNB</h2>
                            <p>Binance</p>
                          </div>
                        </div>
                        <div>
                          <% if(typeof BNB != "undefined") { %>
                            <% if(BNB != 0) { %>
                              <h3><%= BNB %></h3>
                            <% } else {%>
                              <h3>0.00000</h3>
                            <% } %>
                          <% } %>
                          
                        </div>
                      </a>
                      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                        href="#coinSOL" role="tab" aria-selected="true">
                        <div class="d-flex">
                          <img src="assets/img/icon/sol.png" alt="btc">
                          <div>
                            <h2>SOL</h2>
                            <p>Solana</p>
                          </div>
                        </div>
                        <div>
                          <% if(typeof SOL != "undefined") { %>
                            <% if(SOL != 0) { %>
                              <h3><%= SOL %></h3>
                            <% } else {%>
                              <h3>0.00000</h3>
                            <% } %>
                          <% } %>
                          
                        </div>
                      </a>
                      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="pill"
                        href="#coinDOT" role="tab" aria-selected="true">
                        <div class="d-flex">
                          <img src="assets/img/icon/dot.png" alt="btc">
                          <div>
                            <h2>DOT</h2>
                            <p>Polkadot</p>
                          </div>
                        </div>
                        <div>
                          <% if(typeof DOT != "undefined") { %>
                            <% if(DOT != 0) { %>
                              <h3><%= DOT %></h3>
                            <% } else {%>
                              <h3>0.00000</h3>
                            <% } %>
                          <% } %>
                          
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-8">
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="coinBTC" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Balances</h5>
                            <ul>
                              <li class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="icon ion-md-cash"></i>
                                  <h2>Total Equity</h2>
                                </div>
                                <div>
                                  <% if(BTC!="") { %>
                                    <h3><%= BTC %> BTC</h3>
                                  <% } else { %>
                                    <h3>0.00000 BTC</h3>
                                  <% } %>
                                </div>
                              </li>
                              <a href="/exchange?asset=BTC" target="_blank">
                                <button class="btn green">BUY</button>
                              </a>
                              <a href="/exchange?asset=BTC" target="_blank">
                                <button class="btn red">SELL</button>
                              </a>
                            </ul>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Latest Orders</h5>
                            <div class="wallet-history">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Order ID.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                    <th>Asset</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for(i = 0; i < order_no.length; i++) { %>
                                    <% if(coin[i] == "BTC") { %>
                                      <tr>
                                        <td><%= order_no[i] %></td>
                                        <td><%= date[i] %></td>
                                        <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                        <td><%= amount[i] %></td>
                                        <td><%= coin[i] %></td>
                                      </tr>
                                    <% } %>
                                  <% } %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="coinETH" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Balances</h5>
                            <ul>
                              <li class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="icon ion-md-cash"></i>
                                  <h2>Total Equity</h2>
                                </div>
                                <div>
                                  <% if(ETH!="") { %>
                                    <h3><%= ETH %> ETH</h3>
                                  <% } else { %>
                                    <h3>0.00000 ETH</h3>
                                  <% } %>
                                </div>
                              </li>
                              <a href="/exchange?asset=ETH" target="_blank">
                                <button class="btn green">BUY</button>
                              </a>
                              <a href="/exchange?asset=ETH" target="_blank">
                                <button class="btn red">SELL</button>
                              </a>
                            </ul>  
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Latest Orders</h5>
                            <div class="wallet-history">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Order ID.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                    <th>Asset</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for(i = 0; i < order_no.length; i++) { %>
                                    <% if(coin[i] == "ETH") { %>
                                      <tr>
                                        <td><%= order_no[i] %></td>
                                        <td><%= date[i] %></td>
                                        <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                        <td><%= amount[i] %></td>
                                        <td><%= coin[i] %></td>
                                      </tr>
                                    <% } %>
                                  <% } %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="coinBNB" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Balances</h5>
                            <ul>
                              <li class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="icon ion-md-cash"></i>
                                  <h2>Total Equity</h2>
                                </div>
                                <div>
                                  <% if(BNB!="") { %>
                                    <h3><%= BNB %> BNB</h3>
                                  <% } else { %>
                                    <h3>0.00000 BNB</h3>
                                  <% } %>
                                </div>
                              </li>
                              <a href="/exchange?asset=BNB" target="_blank">
                                <button class="btn green">BUY</button>
                              </a>
                              <a href="/exchange?asset=BNB" target="_blank">
                                <button class="btn red">SELL</button>
                              </a>
                            </ul>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Latest Orders</h5>
                            <div class="wallet-history">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Order ID.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                    <th>Asset</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for(i = 0; i < order_no.length; i++) { %>
                                    <% if(coin[i] == "BNB") { %>
                                      <tr>
                                        <td><%= order_no[i] %></td>
                                        <td><%= date[i] %></td>
                                        <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                        <td><%= amount[i] %></td>
                                        <td><%= coin[i] %></td>
                                      </tr>
                                    <% } %>
                                  <% } %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="coinSOL" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Balances</h5>
                            <ul>
                              <li class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="icon ion-md-cash"></i>
                                  <h2>Total Equity</h2>
                                </div>
                                <div>
                                  <% if(SOL!="") { %>
                                    <h3><%= SOL %> SOL</h3>
                                  <% } else { %>
                                    <h3>0.00000 ETH</h3>
                                  <% } %>
                                </div>
                              </li>
                              <a href="/exchange?asset=SOL" target="_blank">
                                <button class="btn green">BUY</button>
                              </a>
                              <a href="/exchange?asset=SOL" target="_blank">
                                <button class="btn red">SELL</button>
                              </a>
                            </ul>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Latest Orders</h5>
                            <div class="wallet-history">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Order ID.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                    <th>Asset</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for(i = 0; i < order_no.length; i++) { %>
                                    <% if(coin[i] == "SOL") { %>
                                      <tr>
                                        <td><%= order_no[i] %></td>
                                        <td><%= date[i] %></td>
                                        <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                        <td><%= amount[i] %></td>
                                        <td><%= coin[i] %></td>
                                      </tr>
                                    <% } %>
                                  <% } %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="coinDOT" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Balances</h5>
                            <ul>
                              <li class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                  <i class="icon ion-md-cash"></i>
                                  <h2>Total Equity</h2>
                                </div>
                                <div>
                                  <% if(DOT!="") { %>
                                    <h3><%= DOT %> DOT</h3>
                                  <% } else { %>
                                    <h3>0.00000 DOT</h3>
                                  <% } %>
                                </div>
                              </li>
                              <a href="/exchange?asset=DOT" target="_blank">
                                <button class="btn green">BUY</button>
                              </a>
                              <a href="/exchange?asset=DOT" target="_blank">
                                <button class="btn red">SELL</button>
                              </a>
                            </ul>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Latest Orders</h5>
                            <div class="wallet-history">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Order ID.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                    <th>Asset</th>
                                  </tr>
                                </thead>
                                <tbody>
                                
                                  <% for(i = 0; i < order_no.length; i++) { %>
                                    <% if(coin[i] == "DOT") { %>
                                      <tr>    
                                        <td><%= order_no[i] %></td>
                                        <td><%= date[i] %></td>
                                        <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                        <td><%= amount[i] %></td>
                                        <td><%= coin[i] %></td>
                                      </tr>
                                    <% } %>
                                  <% } %>
                                
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('./partials/scripts.ejs') %>
  
</body>

</html>